.button {
  padding: 1em;
  border: 0.1em solid #119780;
  border-radius: 2em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  color: #119780;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.button:hover {
  border-color: rgba(0, 0, 0, 0);
  color: #EEE;
  background-color: rgba(17, 151, 128, 0.7);
}
